@import "tailwindcss";

:root {
  --background: #ebebeb;
  --foreground: #353535;
  --primary-color: #731fa1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #353535;
    --foreground: #ebebeb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

.canvas {
  pointer-events: none;
  position: absolute !important;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.view {
  margin: 0.2em;
  width: 100%;
  height: 900px;
  display: inline-block;
  overflow: hidden;
}

.bubble-head::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid white;
  right: 20%;
  top: -10px;
}
